body{
    background: rgb(146, 146, 218);
    font: normal 15pt Arial;
    text-align: center;
}

header{
    color: white;
    text-align: center;

}
div{
    text-align: left;
}

section{
    background: wheat;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.541) 3px 3px 10px ;
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}